body{
    font-family: Menlo,monospace;
}

table {
    border-radius: 3px;
    margin-left:auto; 
    margin-right:auto;
    padding: 5px;
}

table.v1 {
    background-color: #CFCFFF; 
}

table.v2 {
    background-color: #CFFFCF; 
}

table td:first-child {
    width: 100px;
}
