body{
    font-family: Menlo,monospace;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

table.v1 {
    border: 1px;
}

table.v2 {
    background-color: #CFCFCF; 
    border-radius: 3px;
    padding: 5px;
}

table td:first-child {
    width: 100px;
}
